<!DOCTYPE html>
<html>

<head>
  <title>Arvostelun muokkaus</title>
</head>

<body>
    <h1>Arvostelun muokkaus</h1>
  <form action="/update_review" method="post">
    <p>
      Kirja: <br />
      <input type="text" name="title" value="{{ review.title }}"/>
    </p>
    <p>
        Kirjailija: <br />
        <input type="text" name="author" value="{{ review.author }}"/>
    </p>
    <p>
        Julkaisuvuosi: <br />
        <input type="text" name="year" size="5" value="{{ review.year }}"/> 
    </p>
    <p>
        Genre: <br />
        <input type="text" name="genre" size="15" value="{{ review.genre }}"/> 
    </p>
    <p>
        Arvostelu: <br />
        <textarea name="description" rows="8" cols="60">{{ review.description }}</textarea>
    </p>
    <p>
        Tähtiarvio: <br />
        <input type="text" name="stars" size="5" value="{{ review.stars }}"/> /5
    </p>
    <input type = "hidden" name = "review_id" value="{{ review.id }}"/>
    <input type="submit" value="Päivitä arvostelu"/>
  </form>
</body>

</html>