<!DOCTYPE html>
<html>

<head>
  <title>{{ review.title }}</title>
</head>

<body>
    <h1>Kirja: {{ review.title }}</h1>
    {% if session.user_id == review.user_id %}
    <p>
        <a href="/edit_review/{{ review.id }}">Muokkaa</a>
        <a href="/remove_review/{{ review.id }}">Poista</a>
    </p>
    {% endif %}
    <p>
        Kirjailija: {{ review.author }}
    </p>
    <p>
        Julkaisuvuosi: {{ review.year }}
    </p>
    <p>
        Genre: {{ review.genre }}
    </p>
    <p>
        Arvostelu: {{ review.description }}
    </p>
    <p>
        Tähdet: {{ review.stars }}/5
    </p>
    <p>
        Arvostelija: <a href="/user/{{review.id}}">{{ review.username }}</a> 
    </p>
    <p>
        <a href ="/">Takaisin</a>
    </p>
</body>

</html>